<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuguo.dao.BlogDao">

	<resultMap type="Blog" id="BlogResult">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="summary" column="summary"/>
		<result property="releaseDate" column="releaseDate"/>
		<result property="clickHit" column="clickHit"/>
		<result property="replyHit" column="replyHit"/>
		<result property="content" column="content"/>
		<result property="keyWord" column="keyWord"/>
		
		<association property="blogType" column="typeId" select="com.xuguo.dao.BlogTypeDao.findById"></association>
	</resultMap>
	
	<select id="countList" resultMap="BlogResult">
		SELECT DATE_FORMAT(releaseDate,'%Y/%m') AS releaseDateStr, COUNT(*) AS blogCount FROM t_blog GROUP BY DATE_FORMAT(releaseDate,'%Y/%m')
		ORDER BY DATE_FORMAT(releaseDate,'%Y/%m') DESC;
	</select>
	
	<select id="list" parameterType="Map" resultMap="BlogResult">
		select * from t_blog
		<where>
			<if test="typeId!=null and typeId!='' ">
				and typeId=#{typeId}
			</if>
			<if test="releaseDateStr!=null and releaseDateStr!='' ">
				and DATE_FORMAT(releaseDate,'%Y/%m')=#{releaseDateStr}
			</if>
		</where>
		order by releaseDate desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from t_blog
		<where>
			<if test="typeId!=null and typeId!='' ">
				and typeId=#{typeId}
			</if>
			<if test="releaseDateStr!=null and releaseDateStr!='' ">
				and DATE_FORMAT(releaseDate,'%Y/%m')=#{releaseDateStr}
			</if>
		</where>
	</select>
	
</mapper> 