<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuguo.dao.LinkDao">

	<resultMap type="Link" id="LinkResult">
		<result property="id" column="id"/>
		<result property="linkName" column="linkName"/>
		<result property="linkUrl" column="linkUrl"/>
		<result property="orderNo" column="orderNo"/>

	</resultMap>
	
	<select id="list" parameterType="Map" resultMap="LinkResult">
		select * from t_link order by orderNo
	</select>
	
	<!-- <select id="find" resultMap="LinkResult">
		select * from t_link where id=1
	</select>
	 -->
	
</mapper> 